$color-primary:rgba(196, 175, 58, 0.9);
$white: #fff;
$black: #000;
$text-color: #e0e0e0;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal2: 3rem;


$sunset-gradient-1: #fff; //white
$sunset-gradient-2: #FFE460; //yellow
$sunset-gradient-3: #FF7519;