.footer {
        
    background: linear-gradient(270deg, rgba(0,0,0, 0.9), rgba($color-primary, 0.1), rgba($color-primary, 0.1), rgba(0,0,0,0.9)),
               url(../../img/LAfooter.jpg);
    width:100%;
    background-size:cover;
    text-align:center;
    height:auto;
    position: absolute;
    padding-bottom: 2rem;
}

.contactMe {
  position: relative;
  margin-top: -5rem;
  color:$color-primary;
  padding: 0.6rem 1.6rem;
  background-color: rgba(0,0,0, 0.5);
  font-size: 5rem;
  display:inline-block;
  border-radius:0.7rem;
  text-align:center;
}

.contact {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  font-size: 3rem;
  color: white;
 
      @include respond(phone){
        margin-top: 3rem;
        flex-direction: column;
        align-items: center;
      }
    
   &__info {
     background-color:rgba(0,0,0, 0.5);
     margin-bottom: 4rem;
     color: white;
     font-size: 3rem;

     @include respond(phone){
      margin-bottom: 1rem;
    }
   }

}



// .footer {
//     background: linear-gradient(270deg, rgba(0,0,0, 0.9), rgba($color-primary, 0.1), rgba($color-primary, 0.1), rgba(0,0,0,0.9)),
//     url(../../img/LAfooter.jpg);
//     opacity: 0.8;
//     width: 100%;
//     background-size: cover;
//     font-weight: 300;
//     text-align: center;
//     padding-bottom: 5rem;
//     position:absolute;

//   @include respond(phone){
//     background: url(../../img/LAfooter.jpg);
//     padding-bottom: 3rem; 
// }
//     &__contactMe {
//         top: -5rem;
//         position:relative;
//         display:inline-block;
//         padding:1rem 2rem;
//         border-radius: 0.7rem;
//         font-size: 5rem;
//         background-color:rgba(#000000, 0.7);
//         color: $color-primary;
//         font-weight: 300;
//         margin-bottom: 4rem;

//     &__details{
//         display:flex;
//         flex-direction: row;
//         margin-bottom: 5rem;
//         justify-content: space-evenly;
//         flex-wrap: wrap;

//         @include respond(phone){
//          flex-direction: column;
//          justify-content: space-between;
//          flex-wrap:wrap;
//          align-items: center;
//          margin-bottom: 2rem;
//         }
        
//       &--phone {
//         font-size: 3rem;
//         color: white;
       
//         background-color: rgba(0, 0, 0, 0.4);
//         @include respond(phone){
//           margin-bottom: 1.5rem;
//           font-size: 4rem;
//       }
//       }

//       &--email {
//         font-size: 3rem;
//         color: white;
        
//         background-color: rgba(0, 0, 0, 0.4);
//       @include respond(phone){
//         margin-bottom: 1.5rem;
//         font-size: 4rem;
//     }
//       }

//       &--city {
//         font-size: 3rem;
//         color: white;
//         background-color: rgba(0, 0, 0, 0.4);
//         @include respond(tab-port){
//           margin-bottom: 2rem;
//         }
//         @include respond(phone){
//           font-size: 4rem;
//        }
//       }
//     }
// }