.header {
    height: 78rem;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),
    url(../img/newImage.jpg);
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 49% 100%, 0 90%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 49% 100%, 0 90%, 0% 75%); 
    opacity: 1;
    z-index: 1;
    @include respond(phone){
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 100% 90%, 49% 100%, 0 95%, 0% 90%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 100% 95%, 49% 100%, 0 95%, 0% 90%); 
        height: 70rem;
        background-position: 25% 75%;
    }


    &__icon {
        position: absolute;
        width: 11rem;
        display:block;
        left: 50%;
        top: 5%;
        transform: translate(-50%,-00%);

        @include respond(phone){
            width: 8rem;
        }
}

&__text-box {
    position: absolute;
    color: white;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-00%);
    text-align: center;
}
}


