.header {
    height: 78rem;
    background: linear-gradient( rgba(0,0,0,0.38), rgba(0, 0, 0, 0.38)),
    url(../img/HeaderImage--large.jpg);
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 49% 100%, 0 90%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 49% 100%, 0 90%, 0% 75%); 
    opacity: 1;
    z-index: 1;
    @include respond(phone){
        background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),
        url(../img/HeaderImage--small.jpg);
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        height: 62rem;
    }


    &__icon {
        padding-top:6rem;
        position: absolute;
        width: 11rem;
        display:block;
        left: 50%;
        top: 5%;
        transform: translate(-50%,-00%);

        @include respond(phone){
            width: 8rem;
        }
}

&__text-box {
    padding-top:6rem;
    position: absolute;
    color: white;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-00%);
    text-align: center;
    @include respond(phone){
        width: 100%;
    }
}
}


