.header {
    height: 96vh;
    background: linear-gradient( rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3)),
    url(../img/newImage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 49% 100%, 0 90%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 90%, 49% 100%, 0 90%, 0% 75%); 
    opacity: 1;
    z-index: 1;
    &__icon {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%,-00%);
}

&__text-box {
    position: absolute;
    color: white;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-00%);
    text-align: center;
}
}
// .bird {
//     background-image: url(../../img/bird-cells.png);
//     background-size: auto 100%;
//     width: 88px;
//     height: 125px;
//     will-change: background-position;
//     animation-timing-function: steps();
//     animation-iteration-count: infinite;
//     animation-duration: 1s;
//     animation-delay: -0.5s;
//     }
   

