.projects {
    padding: 8% 5% 5% 5%;
    margin-top: -7rem;
    background-color:rgb(24, 24, 24);
    background-size: cover;
    height: auto;
    overflow: hidden;
    -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);

    @include respond(phone) {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
     padding: 8% 2% 10% 2%;
 }

    &__text {
        text-align: center;
        color: $text-color;
        margin-bottom: 6rem;
        &--heading {
         font-size: 5rem;
         margin-bottom: 1rem;
         color: $color-primary;
         border-bottom: 2px solid $text-color;
         display: inline-block;
        }
        &--description{
            font-size: 2.6rem;
        }
    }
   
}

.projectflex {
display:flex;
justify-content: space-around;
margin: 0 7%;
@include respond(tab-port){
 margin: 0 3%;
}
@include respond(phone){
 flex-wrap: wrap;
 margin: 0 3%;
 justify-content: center;
}
}

.projectflex:not(:first-child){
 margin-bottom: 8rem;
}

.projectcol{
 width:40%;
 @include respond(phone){
     width: 90%;
 }
}
.projectcol:not(:last-child){
 @include respond(phone){
     margin-bottom: 8rem;
 }
}

.card2 {
 perspective: 150rem;
 -moz-perspective: 150rem;
 position: relative;
 height: 38rem;
 
 &__side {
     height: 38rem;
     transition: all .8s ease;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     backface-visibility: hidden;
     border-radius: 3px;
     overflow: hidden;
     box-shadow: 0 0.5rem 0.8rem rgba(#000000, 1);
     

     &--front {
         background-color: rgba(39, 37, 13, 1);
         justify-content: center;
         text-align: center;
         padding: 5px;
         
         img{
             opacity: 0.8;
             height: 30rem;
             width: 100%;
             -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
             clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
         }

         h2 {
             font-size:3rem;
             font-weight: 400;
             color: $text-color;
         }
     }

     &--back {
         background-color:rgba($black,.6);
         transform: rotateY(180deg);
         box-shadow: 0.5rem 0.5rem 0.8rem rgba($black, 1);
         text-align: center;
     }
 }


 &:hover &__side--front {
     transition-delay:0.5s;
     transform: rotateY(-180deg);
     box-shadow: 0 0.8rem 1.5rem rgba($color-primary, 0.8);
 }

 &:hover &__side--back {
     transition-delay:0.5s;
     transform: rotateY(0);
     box-shadow:  0.5rem rgba($black, 1);
 }

 
 &__description{
     color:$text-color;
     padding: 3rem 2rem 0rem 2rem;
     font-size: 2rem;
 }

 &__tags{
     background-color: transparent;
     padding: 0.3rem;
     margin: 1rem;
     color: $color-primary;
     font-size: 2rem;
     display: inline-block;
     border: .2rem solid $color-primary;
     border-radius: 30%;
 }
 &__links {
     display: block;
     margin-top: 2rem;
     color: $color-primary;
     font-size: 3.5rem;
     color: white;

     a {
         text-decoration: none;
         color: skyblue;
         &:not(:last-child) {
             margin-right: 3rem;
         }
     }

     a:hover {
         border-bottom: 1px solid white;
     }
  }
}   
