.btn {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: 800;
    font-style: normal;
    font-size: 1.6rem;
    letter-spacing: 0.3em;
    color: #e9e7e7;
    padding: 1.8rem 6rem 2rem;
   transition: all .25s ease-in-out ;
    background: linear-gradient(270deg, rgba($color-primary, 0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    border-radius: 5rem;
    
    &--btnDiv {
        animation: forButton 1s ease-out;
        border: 0.3rem solid $white;
        margin-top: 35rem;
      }
      
      &:hover {
        color: $white;
        border: 0.3rem solid rgba($white,0);
        background-position: 99% 50%;
        transform: translateY(-4px);
        box-shadow: 0 2px 8px; 
      }
    
      &:active {
          transform: translateY(-2px);
          box-shadow: 0 1px 8px; 
      }

      &:link,
      &:visited{
 text-decoration: none;

}
  }

  .fas{
    font-size: 3rem;
    
}

.picon{
  font-size: 4rem;
  color: $color-primary;

}

.resumeBtn {

   display: inline-block;
    border-bottom: 3px solid $color-primary;
    margin-left: 4rem;
}

.projectBtn {
  display: inline-block;
  margin-left: 4rem;
  margin-top: 4rem;
  border-bottom: 3px solid $color-primary;
}

.fafooter {

 color: $color-primary;
 font-size: 4rem;
 margin-right: 0.5rem;
 text-shadow: 0.5px 1px 1px rgb(0, 0, 0);

}

[class^="icon-btn"] /*.icon-btn*/ {
	height: 8rem;
	width: 8rem;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 3.5rem;
	line-height: 6rem;
	transition: ease-in-out .3s;
	border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid $color-primary;

  @include respond(phone){
    height: 9rem;
    width: 9rem;
   }
   &:link,
      &:visited{
 text-decoration: none;

}
}

.twitter {
  color: rgb(255, 255, 255);
  margin-right: 3rem;
  
}

.facebook {
  color: rgb(255, 255, 255);
  margin-right: 3rem;
}
.google-plus {
  color: rgb(255, 255, 255);
  margin-right: 3rem;
}

.instagram {
  color: rgb(255, 255, 255);
  margin-right: 3rem;
}

.github {
  color: rgb(255, 255, 255);
  
}

.icon-btn:hover {
	transform: scale(1.10);	
	color: #FFFFFF;
}

.twitter:hover {
  background-color: #4099FF;	
  border: none;
}

.facebook:hover {
  background-color: #3B5998;	
  border: none;
}

.google-plus:hover {
  background-color: #DB5A3C;
  border: none;	
}

.instagram:hover {
  background-color: #5C3D2E;	
  border: none;
}

.github:hover {
  background-color: #4183C4;
  border: none;	
}

a.link {
	color: inherit;	
}
