@keyframes forName {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    opacity: 50;
    transform: translateX(1.5rem);
  }

  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}

@keyframes forDesc {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    border-top: 0.2px solid #ffffff;
    border-bottom: 0.2px solid #ffffff;
  }

  80% {
    opacity: 50;
    transform: translateX(-1.5rem);
    border-top: 0.2px solid #cecece;
    border-bottom: 0.2px solid #cecece;
  }

  100% {
    opacity: 100;
    transform: translateX(0px);
    border-top: 0.2px solid #a8a8a8;
    border-bottom: 0.2px solid #a8a8a8;
  }
}

@keyframes forButton {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  80% {
    opacity: 50;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
